.displayFood {
    border: 1px solid goldenrod;
    border-radius: 28px;
    padding: 17px;
    margin: 12px;
    text-align: center;
    background-color: #F7F9FD;
}

.food-name {
    font-size: 45px;
    color: goldenrod;
}

#displayFoodsId {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
